@model HRManagementSystem.Web.Models.EmployeeCreateViewModel

@{
    ViewData["Title"] = "Add New Employee";
}
<div class="container mt-4">
<h2 class="mb-4">Add New Employee</h2>

<form asp-action="Create" method="post">
    <div class="row">

        <div class="col-md-6 mb-3">
            <label asp-for="FirstName" class="form-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="LastName" class="form-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="PhoneNumber" class="form-label"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="HireDate" class="form-label"></label>
            <input asp-for="HireDate" type="date" class="form-control" />
            <span asp-validation-for="HireDate" class="text-danger"></span>
        </div>

       <div class="col-md-6 mb-3">
            <label asp-for="DepartmentId" class="form-label"></label>
            <select asp-for="DepartmentId"
                    asp-items="Model.Departments"
                    class="form-select">
                <option value="">-- Select Department --</option>
            </select>
            <span asp-validation-for="DepartmentId" class="text-danger"></span>
        </div> 
        <div class="form-check mt-3">
                <input asp-for="CreateUserAccount" class="form-check-input" checked />
                <label asp-for="CreateUserAccount" class="form-check-label">
                Create system user account for this employee
            </label>
        </div>

            <div class="form-check mt-3">
                <input asp-for="IsActive" class="form-check-input" checked />
                <label asp-for="IsActive" class="form-check-label">
                    Is Active
                </label>
            </div>
    </div>

    <div class="mt-4">
        <button type="submit" class="btn btn-primary">
            Save
        </button>

        <a asp-action="Index" class="btn btn-secondary ms-2">
            Cancel
        </a>
    </div>
</form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
